{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">

	<title>Регистрация</title>
</head>
<body class="login-body">
    {% if not form.is_valid %}
		<div>
			<form class="box" method="post">
				{% csrf_token %}
				<h1 class="">Регистрация</h1>
				<input type="text" name="username" maxlength="100" required id="id_username" class="txtb mb-3" placeholder="Придумайте никнейм">
				{{form.errors.username}}
				<input type="text" name="email" maxlength="100" required id="id_email" placeholder="Ваша электронная почта">
				{{form.errors.email}}
				<input type="password" name="password1" maxlength="100" required id="id_password1" class="txtb mb-3" placeholder="Придумайте пароль">
				{{form.errors.password1}}
				<input type="password" name="password2" maxlength="100" required id="id_password2" class="txtb mb-3" placeholder="Повторите пароль">
				{{form.errors.password2}}
				<input type="submit" name="login" value="Зарегистрироваться">
				<a href="{% url 'login' %}">Уже есть аккаунт?</a>
			</form>
		</div>
    {% endif %}
</div>
</body>
</html>