{% extends 'weather-base.html' %}
{% load static %}

{% block title %} Установить свои адресса {% endblock %}

{% block content %}
    <div style="background: #212121" class="container mt-4">
        <div class="bg-light">
            <form method="post" class="address-form" id="weatherviewer_form">
                {% csrf_token %}
                <h3>Укажите свой адрес, чтобы мы могли точно показать погоду</h3>
                <label>Городской адрес (город и улица):</label>
                <textarea type="text" name="weatherAddressCity" id="id_weatherAddressCity">{{City}}</textarea>

                <label>Загородный адрес (Город/область и СНТ, деревня или что-то еще):</label>
                <textarea type="text" name="weatherAddressCountry" id="id_weatherAddressCountry">{{Country}}</textarea>

                <input type="submit" value="Сохранить" name="_save">
                <h6>Мы не просим указывать дом и квартиру, а лишь Ваш примерный адрес</h6>
                <a href="{% url 'weather-forecast' request.user.username %}">На главную</a>
            </form>
        </div>
    </div>
{% endblock %}