{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark" style="background: #212121;">
    <div class="container-fluid">
      <nav class="navbar navbar-light">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">
            <i class="cart-icon material-icons">pets</i>
          </a>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item"><a class="nav-link px-2" style="color: #FF9800; font-weight: bold; text-transform: uppercase;" href="{% url 'weather-forecast' request.user.username %}">Погода</a>
            </li>
            <li class="nav-item"><a class="nav-link px-2" style="color: #FF9800; font-weight: bold; text-transform: uppercase;" href="{% url 'subscriptions' request.user.username %}">Подписки</a>
            </li>
          </ul>
        </div>
      </nav>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if request.user.is_authenticated %}
              
            {% else %}
              <a href="{% url 'authentication' %}" style="text-decoration: none; font-weight: bold; color: white">ВОЙТИ <i class="cart-icon material-icons">login</i></a>
            {% endif %}
      </div>
      <form class="d-flex">
        <input id="usernameINPUT" value='' class="form-control inputToSearch me-2" type="text" placeholder="Найти пользователя" aria-label="Поиск">
        <a id="goToProfile"><input id="searchBTN" class="btn btnToSearch" type="button" value="Найти"></input></a>
      </form>
    </div>
  </nav>
  