{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark" style="background: #512DA8;">
    <div class="container-fluid">
      <nav class="navbar navbar-light">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/PetClubBigLogo.png' %}" alt="" width=64" height="58">
          </a>
        </div>
      </nav>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if request.user.is_authenticated %}
              <p style="color: #FF9800"><i class="cart-icon material-icons">account_circle</i> {{request.user.username}}</p>
              <a href="{% url 'logout' %}"><i class="cart-icon material-icons">logout</i></a>
            {% else %}
              <a href="{% url 'authentication' %}" style="text-decoration: none; font-weight: bold; color: white">ВОЙТИ <i class="cart-icon material-icons">login</i></a>
            {% endif %}
      </div>
    </div>
  </nav>