{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark" style="background: #212121;">
    <div class="container-fluid">
      <nav class="navbar navbar-light">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">
            <i class="cart-icon material-icons">pets</i>
          </a>
        </div>
      </nav>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if request.user.is_authenticated %}
              
            {% else %}
              <a href="{% url 'authentication' %}" style="text-decoration: none; font-weight: bold; color: white">ВОЙТИ <i class="cart-icon material-icons">login</i></a>
            {% endif %}
      </div>
      <form class="d-flex">
        <input id="usernameINPUT" value='' class="form-control me-2" type="text" placeholder="Найти пользователя" aria-label="Поиск">
        <a id="goToProfile"><input id="searchBTN" class="btn btn-outline-success" type="button"></input><i class="cart-icon material-icons">search</i></a>
      </form>
    </div>
  </nav>