{% extends 'base.html' %}
{% load static %}

{% block title %} Профиль - {{pet.petName}} {% endblock %}

{% block content %}
    <div class="container">
        <div class="row mx-auto justify-content-around">
            <div class="mt-3 mb-3 col-12 col-md-12 col-lg-12 col-sm-12" style="background: #212121; border-radius: 24px;">
                <div class="row mb-2">
                    <h1 style="color: #FFFFFF;"><i class="cart-icon material-icons">favorite</i> Мой питомец 
                        <a href="{{pet.petProfile}}" style="text-decoration: none; color: #FF9800;"<span style="color: #FF9800;">{{pet.petName}}</span></a></h1>
                        <hr style="color: #BDBDBD;">
                        <div class="row">
                            <h2 style="color: #FFFFFF;">Информация. <span style="color: #FF9800;">{{pet.pet}}, {{pet.smartAge}}</span></h2>
                            <hr style="color: #BDBDBD;">
                        </div>
                    <div class="row">
                        <h3 style="color: #FFFFFF;">Факты о питомце. <span style="color: #FF9800;">{{pet.petBio}}</span></h3>
                    </div>
                    {% if pet.petPhoto %}
                        <div>
                            <img src="{{pet.petPhoto.url}}" class="d-block" width="250" height="150"></img>
                        </div>
                    {% endif %}
                </div>
                <div class="mb-2">
                    <a class="btn btn-outline-light mb-1" href="{% url 'edit-pet' pet.id %}"><i class="cart-icon material-icons">mode_edit</i> Редактировать информацию</a>
                </div>
            </div>

            {% for post in posts %}
                <div class="mt-3 mb-3 col-12 col-md-12 col-lg-12 col-sm-12" style="background-color: #D1C4E9; border-left: 2px #FF9800 solid;">
                    <div class="mb-3">
                        <div class="row g-0 mb-5">
                            <div class="col-md-2">
                                <a href=""><img src="{{post.postPhoto.url}}" class="img-fluid rounded-start" alt=""></a><br>
                                <p><a href="{{post.petProfile}}" style="text-decoration: none;"><span style="color: #673AB7;"><i class="cart-icon material-icons">pets</i>{{post.postPet.name}}</span></a></p>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h2 class="featurette-heading">{{post.postTitle}}</h2>
                                    <p class="card-text" style="color: #212121">{{post.textToPreview}} ... <a style="color: #512DA8;" href="{{post.get_url }}">читать полностью</a></p><br>
                                    <p><a style="text-decoration: none;" href="{{post.authorProfile}}"><span style="color: #673AB7;"><i class="cart-icon material-icons">person_outline</i>{{post.postAuthor}}</span></a>,
                                        <small style="color: #757575;" class="text-muted">{{post.postDatePublished}} {{post.postTimePublished}}</small> </p>
                                </div>
                            </div>
                        </div>
                        <hr style="color: #757575;"">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}