{% extends 'base.html' %}
{% load static %}

{% block title %} Медиа {% endblock %}

{% block content %}

<div class="container">
    <div class="row mx-auto justify-content-around">
        <a class="mt-3 text-center btn btn-outline-dark" href="#followedPersons">Мои подписки</a>
        <a class="mt-3 text-center btn btn-outline-dark" href="#followerPersons">Мои подписчики</a>
        <div class="col-10 col-md-9 col-sm-12 col-lg-9">
        {% for post in followedPosts %}
            <div class="mt-3 mb-3 col-12 col-md-12 col-lg-12 col-sm-12" style="background-color: #D1C4E9; border-left: 2px #FF9800 solid;">
                <div class="mb-3">
                    <div class="row g-0 mb-5">
                        <div class="col-md-2">
                            {% if post.postPhoto %}
                                <a href=""><img src="{{post.postPhoto.url}}" class="img-fluid rounded-start" alt=""></a><br>
                            {% endif %}
                            {% if post.postPet %}
                                <p><a href="{{post.petProfile}}" style="text-decoration: none;"><span style="color: #673AB7;"><i class="cart-icon material-icons">pets</i>{{post.postPet.name}}</span></a></p>
                            {% endif %}    
                            </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h2 class="featurette-heading">{{post.postTitle}}</h2>
                                <p class="card-text" style="color: #212121">{{post.textToPreview}} ... <a style="color: #512DA8;" href="{{post.get_url }}">читать полностью</a></p><br>
                                <p><a style="text-decoration: none;" href="{{post.authorProfile}}"><span style="color: #673AB7;"><i class="cart-icon material-icons">person_outline</i>{{post.postAuthor}}</span></a>,
                                    <small style="color: #757575;" class="text-muted">{{post.postDatePublished}} {{post.postTimePublished}}</small> </p>
                            </div>
                        </div>
                    </div>
                    <hr style="color: #757575;"">
                </div>
            </div>          
        {% endfor %}
        </div>
        <div class="col-10 col-md-7 col-sm-12 col-lg-3">
            <div class="mt-3 mb-1" style="background-color: #D1C4E9;">    
                <div class="mb-3">
                    <div class="row g-0 mb-5">
                        <div id="followedPersons" class="card mb-1" style="background-color: #D1C4E9;">
                            <h5>Мои подписки</h5>
                            {% for person in followedPersons %}
                            <div class="card-body" style="border-bottom: #673AB7 dashed 1px;">
                                <div class="d-flex flex-start align-items-center">
                                    <img class="rounded-circle shadow-1-strong me-3" src="{{person.avatar.url}}"
                                        alt="avatar" width="60" height="60"/>
                                    <div>
                                        <h6 class="fw-bold mb-1" style="color: #212121;"><a style="color: #212121;" href="{% url 'profile' person.username %}">{{person.username}}</a>
                                        </h6>
                                        <a style="color: #212121;" class="unfollow-button mt-1 btn btn-outline-light mb-1" href="{% url 'unfollow-person' request.user.username person.username %}">
                                            <i class="cart-icon material-icons">person_remove</i> Отписаться</a>                             
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <h5 class="mt-4 mb-1">Мои подписчики</h5>
                            {% for person in followerPersons %}
                            <div id="followerPersons" class="card-body" style="border-bottom: #673AB7 dashed 1px;">
                                <div class="d-flex flex-start align-items-center">
                                    <img class="rounded-circle shadow-1-strong me-3" src="{{person.avatar.url}}"
                                        alt="avatar" width="60" height="60"/>
                                    <div>
                                        <h6 class="fw-bold mb-1" style="color: #212121;"><a style="color: #212121;" href="{% url 'profile' person.username %}">{{person.username}}</a>
                                        </h6>                             
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}